body{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

code{
  background-color: #dfdfdf;
  padding:4px;
  font-weight: bold;
}

.cmd{
  color: red
}
